{% extends 'ventasmodule/ventasbase.html.twig' %}

{#{% block title %}New Week{% endblock %}#}

{% block interactionarea %}
    <h1>Iniciar semana</h1>

    {{ include('week/_form.html.twig') }}

{#    <a href="{{ path('week_index') }}">back to list</a>#}
{% endblock %}
