<form method="post" action="{{ path('pieza_a_pagar_delete', {'id': pieza_a_pagar.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ pieza_a_pagar.id) }}">
    <button class="btn">Delete</button>
</form>
