{% extends 'base.html.twig' %}

{% block title %}Edit TipoPieza{% endblock %}

{% block body %}
    <h1>Edit TipoPieza</h1>

    {{ include('tipo_pieza/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('tipo_pieza_index') }}">back to list</a>

    {{ include('tipo_pieza/_delete_form.html.twig') }}
{% endblock %}
