{% extends 'base.html.twig' %}

{% block title %}New TipoPieza{% endblock %}

{% block body %}
    <h1>Create new TipoPieza</h1>

    {{ include('tipo_pieza/_form.html.twig') }}

    <a href="{{ path('tipo_pieza_index') }}">back to list</a>
{% endblock %}
